{%extends "base.html"%} {%block content%}
<div
  class="container mt-5 mb-3"
  style="display: flex; justify-content: center; align-items: center"
>
  <h3>Формирование Солнечной системы</h3>
</div>
<div class="container" style="font-size: 23px">
  <p>
    Солнечная система состоит из центрального небесного тела - звезды Солнца и 8
    больших планет, обращающихся вокруг него, их спутников, множества малых
    планет - астероидов, многочисленных комет и межпланетной среды. Большие
    планеты располагаются в порядке удаления от Солнца следующим образом:
    <b
      ><a href="https://ru.wikipedia.org/wiki/Меркурий" target="_blank"
        >Меркурий</a
      ></b
    >,
    <b
      ><a href="https://ru.wikipedia.org/wiki/Венера" target="_blank"
        >Венера</a
      ></b
    >,
    <b
      ><a href="https://ru.wikipedia.org/wiki/Земля" target="_blank">Земля</a
      >,</b
    ><br />
    <b><a href="https://ru.wikipedia.org/wiki/Марс" target="_blank">Марс</a></b
    >,
    <b
      ><a href="https://ru.wikipedia.org/wiki/Юпитер" target="_blank"
        >Юпитер</a
      ></b
    >,
    <b
      ><a href="https://ru.wikipedia.org/wiki/Сатурн" target="_blank"
        >Сатурн</a
      ></b
    >,
    <b><a href="https://ru.wikipedia.org/wiki/Уран" target="_blank">Уран</a></b
    >,
    <b
      ><a href="https://ru.wikipedia.org/wiki/Нептун" target="_blank"
        >Нептун</a
      ></b
    >. Важнейшим вопросом, связанным с изучением нашей планетной системы
    является её происхождение. Проблема образования Солнца, Земли, других планет
    и их спутников давно волнует людей. За последние несколько десятков лет
    астрономам и космологам удалось заметно продвинуться в понимании устройства,
    истории и эволюции Солнечной системы. В частности, благодаря прямым
    наблюдениям за процессом возникновения молодых звезд и открытиям множества
    экзопланет мы намного яснее представляем механизм зарождения Солнечной
    системы. Однако все же вести речь о ее истории в полном смысле слова не
    всегда возможно, скорее, речь идет о различных гипотезах. <br /><br />
  </p>
  <div style="display: flex; justify-content: center">
    <!-- Carousel -->
    <div
      id="demo"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      style="width: 748px; height: 468px"
    >
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="2"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="3"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="4"
        ></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/5.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="/static/img/2.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="/static/img/3.png" alt="New York" />
        </div>
        <div class="carousel-item">
          <img src="/static/img/3.png" alt="New York" />
        </div>
        <div class="carousel-item">
          <img src="/static/img/3.png" alt="New York" />
        </div>
        <div class="carousel-item">
          <img src="/static/img/1.png" alt="New York" />
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <ul>
    <li>
      <button
        type="button"
        class="btn btn-dark btn-lg"
        data-bs-toggle="collapse"
        data-bs-target="#anc"
      >
        <h5>Гипотеза Канта-Лапласа</h5>
      </button>
    </li>
    <br /><br />
    <div id="anc" class="collapse">
      <div
        class="container alert alert-secondary"
        style="border: 2px solid grey; border-radius: 2%"
      >
        <h4 style="color: black">1. Небулярная гипотеза.</h4>
        <p>
          В 1796 году французский математик и астроном
          <b
            ><a
              target="_blank"
              href="https://bigenc.ru/c/laplas-p-er-simon-6aaa60"
              >Пьер-Симон Лаплас</a
            ></b
          >
          выдвинул теорию. Лаплас полагал, что Солнце существовало первоначально
          в виде огромной раскаленной газообразной туманности (небулы) с
          незначительной плотностью, но зато колоссальных размеров. <br /><br />
          Эта туманность, согласно Лапласу, первоначально медленно вращалась в
          пространстве. Под влиянием сил гравитации туманность постепенно
          сжималась, причем скорость ее вращения увеличивалась. Возрастающая в
          результате центробежная сила придавала туманности уплощенную, а затем
          и линзовидную форму. В экваториальной плоскости туманности соотношение
          между притяжением и центробежной силой изменялось в пользу этой
          последней, так что в конечном счете масса вещества, скопившегося в
          экваториальной зоне туманности, отделилась от остального тела и
          образовала кольцо. От продолжавшей вращаться туманности
          последовательно отделялись все новые кольца, которые, конденсируясь в
          определенных точках, постепенно превращались в планеты и другие тела
          солнечной системы. В общей сложности от первоначальной туманности
          отделилось десять колец, распавшихся на девять планет и пояс
          астероидов - мелких небесных тел. Спутники отдельных планет сложились
          из вещества вторичных колец, оторвавшихся от раскаленной газообразной
          массы планет. Вследствие продолжавшегося уплотнения материи
          температура новообразованных тел была исключительно высокой. В то
          время и наша Земля, по П. Лапласу, представляла собой раскаленный
          газообразный шар, светившийся подобно звезде. Постепенно, однако, этот
          шар остывал, его материя переходила в жидкое состояние, а затем, по
          мере дальнейшего охлаждения, на его поверхности стала образовываться
          твердая кора. Эта кора была окутана тяжелыми атмосферными парами, из
          которых при остывании конденсировалась вода. Поскольку наука не
          располагала в то время более приемлемыми объяснениями, у этой теории
          было в XIX веке множество последователей.
          <br /><br />
          <img
            class="rounded-circle"
            src="/static/img/KANT-LAPLAS.png"
            alt=""
            style="width: 1230px; height: 200px"
          />
          <br />
          Точки зрения
          <b
            ><a target="_blank" href="https://bigenc.ru/c/kant-immanuil-4a074e"
              >Канта</a
            ></b
          >
          и Лапласа в ряде важных вопросов резко отличались. Кант исходил из
          эволюционного развития холодной пылевой туманности, в ходе которого
          сперва возникло центральное массивное тело - будущее Солнце, а потом
          планеты, в то время как Лаплас считал первоначальную туманность
          газовой и очень горячей с высокой скоростью вращения. Сжимаясь под
          действием силы всемирного тяготения, туманность, вследствие закона
          сохранения момента количества движения, вращалась все быстрее и
          быстрее. Из-за больших центробежных сил от него последовательно
          отделялись кольца. Потом они конденсировались, образуя планеты. Таким
          образом, согласно гипотезе Лапласа, планеты образовались раньше
          Солнца. Однако, несмотря на различия, общей важной особенностью
          является представление, что Солнечная система возникла в результате
          закономерного развития туманности. Эти две теории взаимно дополняли
          друг друга, поэтому и принято называть эту концепцию “гипотезой
          Канта-Лапласа”. <br /><br />
          Однако эта теория сталкивается с трудностью. Наша Солнечная система,
          состоящая из девяти планет разных размеров и масс, обладает
          особенностью: необычное распределение момента количества движения
          (момент импульса) между центральным телом - Солнцем и планетами.
          Момент импульса есть одна из важнейших характеристик всякой
          изолированной от внешнего мира механической системы. Именно как такую
          систему можно рассмотреть Солнце и окружающие его планеты. Момент
          количества движения можно определить как “запас вращения” системы. Это
          вращение складывается из орбитального движения планет и вращения
          вокруг осей Солнца и планет. Львиная доля момента количества движения
          Солнечной системы сосредоточена в орбитальном движении планет-гигантов
          Юпитера и Сатурна. С точки зрения гипотезы Лапласа, это совершенно
          непонятно. В эпоху, когда от первоначальной, быстро вращающейся
          туманности отделилось кольцо, слои туманности, из которых потом
          сконденсировалось Солнце, имели (на единицу массы) примерно такой же
          момент, как вещество отделившегося кольца (так как угловые скорости
          кольца и оставшихся частей были примерно одинаковы), так как масса
          последнего была значительно меньше основной туманности
          (“протосолнца”), то полный момент количества движения кольца должен
          быть много меньше, чем у “протосолнца”. В гипотезе Лапласа отсутствует
          какой-либо механизм передачи момента от “протосолнца” к кольцу.
          Поэтому в течение всей дальнейшей эволюции момент количества движения
          “протосолнца”, а затем и Солнца должен быть много больше, чем у колец
          и образовавшихся из них планет. Но этот вывод противоречит с
          фактическим распределением количества движения между Солнцем и
          планетами. Для гипотезы Лапласа эта трудность оказалась непреодолимой.
        </p>
      </div>
    </div>
    <li>
      <button
        type="button"
        class="btn btn-dark btn-lg"
        data-bs-toggle="collapse"
        data-bs-target="#anc2"
      >
        <h5>Гипотеза Джинса</h5>
      </button>
    </li>
    <div id="anc2" class="collapse">
      <h3>тут тест</h3>
    </div>
    <br /><br />
  </ul>
</div>
{%endblock%}
